@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "PT Sans", serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(16, 106, 61);
}
.container i{
    transform: translate(1440px,20px);
    color: black;
}
.form-box{
    width: 100%;
    max-width: 500px;
    position: absolute;
    justify-content: center;
    top: -15%;
    left: 50%;
    transform: translate(-50%,50%);
    background:white ;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
}
.form-box h1{
    font-size: 50px;
    text-decoration: underline;
    font-weight: bold;
}
.input-field{
    background: rgb(232, 231, 231);
    height: 30px;
    margin: 22px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.3s;
    overflow: hidden;
}
input{
    width: 100%;
    background:transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    color: black;
}
.input-field i{
    margin-left: 15px;
}
form p{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}
form p a{
    text-decoration: none;
}
.btn-field{
    width: 50%;
    display: flex;
    margin-left: 30%;
    justify-content: space-between;

}
.btn-field button{
    flex-basis: 48%;
    background: rgb(16, 106, 61);
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    margin-top: 20%;
}
.btn-field button.disable{
    background: rgb(232, 231, 231);
}

